# Dependencies
node_modules/
hardhat/node_modules/
front/node_modules/
front/dist/

# Hardhat Build Artifacts & Cache
hardhat/artifacts/
hardhat/cache/
hardhat/types/
hardhat/dist/
hardhat/bundle/
hardhat/coverage/
hardhat/.gas-snapshot
hardhat/snapshots/

# Environment files
*.env
*.env.*
!*.env.example

# Geth chain data & sockets
network/geth/
network/*.ipc
*.ipc

# OS & Logs
.DS_Store
*.log
